In [45]:
# What type of social media platform are you most likely to use?

In [46]:
import pandas as pd 
import numpy as np

In [52]:
df = pd.read_csv('Updated_Social_Media_Usage_Data.csv')

In [53]:
df

,age,income,gender,time_spent,preferred_platform,interests,demographics,posts_per_week,exercise_hours
0,51,94413,female,4.5,Facebook,Sports,Suburban,7,5.5
1,64,87851,female,1.0,Facebook,Technology,Urban,14,8.0
2,41,68087,female,4.5,Instagram,Food,Rural,1,10.0
3,27,30988,male,5.0,Instagram,Music,Urban,3,7.0
4,55,79214,non-binary,1.0,Instagram,Sports,Rural,11,4.5
...,...,...,...,...,...,...,...,...,...
1995,32,45309,male,5.0,TikTok,Food,Suburban,3,9.5
1996,34,33802,male,1.0,Facebook,Technology,Urban,6,5.0
1997,23,27369,male,3.5,Snapchat,Music,Suburban,6,2.0
1998,39,61083,female,2.5,Snapchat,Technology,Suburban,11,0.0
1999,15,16970,male,0.5,Instagram,Food,Suburban,8,5.0

In [64]:
df['demographics'].unique()

array(['Suburban', 'Urban', 'Rural'], dtype=object)

In [65]:
# Wrangling Dataset 
# Changing Columns from string data to numerical data 

gender_mapping = {'male': 0, 'female': 1, 'non-binary': 2}
df['gender'] = df['gender'].replace(gender_mapping)

platform_mapping = {'Facebook': 0, 'Instagram': 1, 'Twitter': 2, 'Snapchat': 3, 'TikTok': 4}
df['preferred_platform'] = df['preferred_platform'].replace(platform_mapping)

interests_mapping = {'Sports': 0, 'Technology': 1, 'Food': 2, 'Music': 3, 'Art': 4, 'Fashion': 5, 'Travel': 6}
df['interests'] = df['interests'].replace(interests_mapping)

demographics_mapping = {'Suburban': 0, 'Urban': 1, 'Rural': 2}
df['demographics'] = df['demographics'].replace(demographics_mapping)

In [66]:
df

,age,income,gender,time_spent,preferred_platform,interests,demographics,posts_per_week,exercise_hours
0,51,94413,1,4.5,0,0,0,7,5.5
1,64,87851,1,1.0,0,1,1,14,8.0
2,41,68087,1,4.5,1,2,2,1,10.0
3,27,30988,0,5.0,1,3,1,3,7.0
4,55,79214,2,1.0,1,0,2,11,4.5
...,...,...,...,...,...,...,...,...,...
1995,32,45309,0,5.0,4,2,0,3,9.5
1996,34,33802,0,1.0,0,1,1,6,5.0
1997,23,27369,0,3.5,3,3,0,6,2.0
1998,39,61083,1,2.5,3,1,0,11,0.0
1999,15,16970,0,0.5,1,2,0,8,5.0

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 2000 non-null   int64
 1   income              2000 non-null   int64
 2   gender              2000 non-null   int64
 3   time_spent          2000 non-null   float64
 4   preferred_platform  2000 non-null   int64
 5   interests           2000 non-null   int64
 6   demographics        2000 non-null   int64
 7   posts_per_week      2000 non-null   int64
 8   exercise_hours      2000 non-null   float64
dtypes: float64(2), int64(7)
memory usage: 140.8 KB